.explore__grid {
  margin-block: 4rem;
  display: grid;
  gap: 1rem;
}

.explore__card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color);
}

.explore__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}
.explore__card:nth-child(1) span {
  color: #f04a0c;
  background-color: #f6efef;
}

.explore__card:nth-child(2) span {
  color: #6a38c2;
  background-color: #e9ddff;
}

.explore__card:nth-child(3) span {
  color: #ff0101;
  background-color: #fff2f2;
}

.explore__card:nth-child(4) span {
  color: #fbbc09;
  background-color: #fff8e3;
}

.explore__card:nth-child(5) span {
  color: #4680e7;
  background-color: #e7edf8;
}
