.explore__grid {
  margin-block: 4rem;
  display: grid;
  gap: 1rem;
}

.explore__card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color);
}

.explore__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}
.explore__card:nth-child(1) span {
  color: #f04a0c;
  background-color: #f6efef;
}

.explore__card:nth-child(2) span {
  color: #6a38c2;
  background-color: #e9ddff;
}

.explore__card:nth-child(3) span {
  color: #ff0101;
  background-color: #fff2f2;
}

.explore__card:nth-child(4) span {
  color: #fbbc09;
  background-color: #fff8e3;
}

.explore__card:nth-child(5) span {
  color: #4680e7;
  background-color: #e7edf8;
}
.explore__card:nth-child(6) span {
  color: #34a753;
  background-color: #f1fef5;
}

.explore__card:nth-child(7) span {
  color: #443ee0;
  background-color: #f6f5ff;
}

.explore__card:nth-child(8) span {
  color: #3ac2ba;
  background-color: #f0fffe;
}

.explore__card:hover span {
  color: var(--white);
  background-color: #794cc7;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
  transition: 0.3s;
}

.explore__card p {
  color: var(--text-light);
  transition: 0.3s;
}

.explore__card:hover h4 {
  color: var(--white);
}

.explore__card:hover p {
  color: var(--extra-light);
}

.explore__btn {
  text-align: center;
}
/* Shoumik */
.offer__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem 1rem;
}

.offer__card img {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.offer__details {
  display: flex;
  align-items: flex-start;
}

.offer__details span {
  font-size: 2rem;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-dark);
  padding-right: 1rem;
}
